@include icon('camera', 'V');

.x-button {
    height: 2.1em;
    padding: 0 8px;
    @include border-radius(6px);
    background-color: #fff;

    // My addition
    @include border-radius($default-button-radius);
    margin-top: $default-margin-for-fieldsets;
    margin-bottom: $default-margin-for-fieldsets;
    border-left-width: 0px;
    border-right-width: 0px;
}

.x-button-icon {
    width: 1.5em;
    height: 1.5em;

    &:before {
        font-size: 1.4em;
        line-height: 1.15em;
    }
}

.x-button-pressing {
    .x-button-icon {
    }
}

.x-button-label {

    // My addition
    font-weight: $default-font-weight;

    font-family: "Helvetica Neue", Helvetica, Arial;
}

// UIs

.x-button-round,
.x-button-decline-round,
.x-button-confirm-round {
    @include border-radius(1.8em);

    // My addition
    @include border-radius($default-button-radius);
}

.x-button-small,
.x-button-decline-small,
.x-button-confirm-small {
    height: 1.4em;
    padding: 0 5px;

    .x-button-label {
        font-size: 1em;
    }
}

.x-button-normal,
.x-button-round,
.x-button-small,
.x-button-forward {
    border-color: $ios7-blue;

    // My addition
    // background-color: $ios7-blue;
    border-color: transparent;
    // This matches a form field's height, which is 40px
    height: 2.63em;

    .x-button-label {
        color: $ios7-blue;

        // My addition
        // color: white;
    }

    &.x-button-pressing,
    &.x-button-pressed {
        border-color: $ios7-blue-lighten;

        // My addition
        background-color: $ios7-blue-lighten;
        background-color: white;

        .x-button-label {
            color: $ios7-blue-lighten;

            // My addition
            // color: white;
        }
    }
}

.x-button-decline,
.x-button-decline-round,
.x-button-decline-small {
    border-color: $ios7-red;

    // My addition
    // background-color: $ios7-red;
    border-color: transparent;
    // This matches a form field's height, which is 40px
    height: 2.63em;

    .x-button-label {
        color: $ios7-red;

        // My addition
        // color: white;
    }

    &.x-button-pressing,
    &.x-button-pressed {
        border-color: $ios7-red-lighten;

        // My addition
        background-color: $ios7-red-lighten;
        background-color: white;

        .x-button-label {
            color: $ios7-red-lighten;

            // My addition
            // color: white;
        }
    }
}

.x-button-confirm,
.x-button-confirm-round,
.x-button-confirm-small {
    border-color: $ios7-green;

    // My addition
    // background-color: $ios7-green;
    border-color: transparent;
    // This matches a form field's height, which is 40px
    height: 2.63em;

    .x-button-label {
        color: $ios7-green;

        // My addition
        // color: white;
    }

    &.x-button-pressing,
    &.x-button-pressed {
        border-color: $ios7-green-lighten;

        // My addition
        // background-color: $ios7-green-lighten;

        .x-button-label {
            color: $ios7-green-lighten;

            // My addition
            // color: white;
        }
    }
}

.x-button {
    &.x-button-action,
    &.x-button-action-round,
    &.x-button-action-small {
        border-color: $ios7-blue;

        // My addition
        background-color: $ios7-blue;

        .x-button-label {
            color: $ios7-blue;

            // My addition
            color: white;
        }

        &.x-button-pressing {
            border-color: $ios7-blue-lighten;

            // My addition
            background-color: $ios7-blue-lighten;

            .x-button-label {
                color: $ios7-blue-lighten;

                // My addition
                color: white;
            }
        }
    }
}

.x-button.x-button-back {
    border: 0px;
    color: $ios7-blue;
    background-color: transparent;
    margin: 0px;
    padding: 0px;

    &:before {
        content: '"';
        font-family: 'iOS7';
        color: $ios7-blue;
        font-size: 1.3em;
        text-align: center;
        background-color: transparent;
        line-height: 1.3em;
        padding-left: 0px;
    }

    .x-button-label {
        font-size: 1.1em;
        line-height: 1.3em;
        font-weight: 300;

        // My addition
        font-weight: $default-font-weight;
        padding-left: 2px;
        line-height: 1.2em;
    }

    .x-button-label {
        color: $ios7-blue;
    }

    &.x-button-pressing {
        color: $ios7-blue-lighten;

        &:before {
            color: $ios7-blue-lighten;
        }

        .x-button-label {
            color: $ios7-blue-lighten;
        }
    }
}

.x-button.x-button-forward {
    border : 0px;

    &:after {
        content: '!';
        font-family: 'iOS7';
        color: $ios7-blue;
        font-size: 1.3em;
        text-align: center;
        background-color: transparent;
        line-height: 1.3em;
        padding-left: 0px;
    }

    .x-button-label {
        font-size: 1.1em;
        line-height: 1.3em;
        font-weight: 300;
        padding-left: 2px;
        color: $ios7-blue;
    }
}

.x-button.x-list-item-remove {
    z-index: 25;
}

// Badges

.x-hasbadge {
    overflow: visible;

    .x-badge {
        top: -5px;
        right: -6px;
        max-width: 55%;

        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
        display: block;
        overflow: hidden;

        color: #fff !important;
        min-width: 18px;
        font-weight: bold;
        text-shadow: 0 0 0 !important;
        font-family: "Helvetica Neue", Helvetica, Arial;
        font-size: 10px;
        padding: 1px 2px 2px;
        border: 0px;
        background-color: $ios7-red;
    }
}

// My addition
.x-button {
    &.x-button-boring {
        border-color: $magnesium;
        background-color: $magnesium;
        .x-button-label {
            color: white;
        }
        &.x-button-pressing {
            border-color: $silver;
            background-color: $silver;
            .x-button-label {
                color: white;
            }
        }
    }
}