/* Dark to light colors (black & white) */
$lead: #191919;
$tungsten: #333333;
$iron: #4C4C4C;
$black-32: #515151;
$black-35: #595959;
$black-38: #606060;
$steel: #666666;
$nickel: #808080;
$aluminum: #999999;
$magnesium: #B3B3B3;
$silver: #CCCCCC;
$mercury: #E6E6E6;
$white-94: darken(white, 6%);
$white-96: darken(white, 4%);
$white-97: darken(white, 3%);
$white-98: darken(white, 2%);
$white-99: darken(white, 1%);

/* Other colors */
$facebook-blue: #4c66a4;
$facebook-blue-lighten: lighten($facebook-blue, 30%);
$ios7-blue: #157efb;
$ios7-red: #fc3e39;
$ios7-orange: #F92E32;
$my-orange: #ee6557;
$ios7-green: #53d769;
$icloud-reminders-purple: #b14bc9;
$i-purple: $icloud-reminders-purple;
$my-purple: #790F5B;
$ios7-blue-lighten: lighten($ios7-blue, 30%);
$ios7-red-lighten: lighten($ios7-red, 30%);
$ios7-orange-lighten: lighten($ios7-orange, 30%);
$ios7-green-lighten: lighten($ios7-green, 30%);
$icloud-reminders-purple-lighten: lighten($icloud-reminders-purple, 30%);
$i-purple-lighten: $icloud-reminders-purple-lighten;
$my-purple-lighten: lighten($my-purple, 30%);
$my-purple-orange: lighten($my-orange, 30%);

$default-theme-color: $ios7-blue;
$default-background-color: $white-96;
$default-border-color: $silver;

$default-font-weight: 200;
$default-font-ultralight-weight: 100;
$default-font-color: $nickel;

$default-button-radius: 0px;
$default-button-margin: 1em;
$default-button-font-size: 1em;
$default-button-margin: 1em;

$default-iconned-borer-color: black;
$default-iconned-borer-active-color: $default-theme-color;
$default-iconned-borer-pressed-color: lighten($default-iconned-borer-color, 30%);
$default-iconned-background-color: $default-iconned-borer-color;
$default-iconned-active-background-color: $default-iconned-borer-active-color;
$default-iconned-pressed-background-color: $default-iconned-borer-pressed-color;
$default-iconned-button-font-size: 2em;
$default-iconned-button-line-height: 1.43em;
$default-iconned-button-margin-left: -0.03em;
$default-iconned-button-margin-top: 0.095em;
$default-iconned-button-color: white;
$default-iconned-button-outer-container-opacity: 0.5;
$default-iconned-button-margin-from-edge: 0.5em;

$tabbar-active-background-color: $white-97;
$tabbar-pressed-background-color: $white-99;
$tabbar-margin-from-edge: $default-iconned-button-margin-from-edge;
$tabbar-tab-mergin-on-sides: $tabbar-margin-from-edge / 2;
$tabbar-tab-margin: 0 .25em;
$tabbar-tab-height: 2.9em;
$tabbar-tab-min-width: 2.9em;
$tabbar-tab-width: 2.9em;
$tabbar-tab-opacity: $default-iconned-button-outer-container-opacity;
$tabbar-tab-border-radius: 1.5em;
$tabbar-tab-border-width: 1px;
$tabbar-tab-border-style: solid;
$tabbar-tab-border-color: $default-iconned-borer-color;
$tabbar-tab-active-border-color: $default-iconned-borer-active-color;
$tabbar-tab-pressed-border-color: $default-iconned-borer-pressed-color;
$tabbar-tab-background-color: $default-iconned-background-color;
$tabbar-tab-active-background-color: $default-iconned-active-background-color;
$tabbar-tab-pressed-background-color: $default-iconned-pressed-background-color;
$tabbar-tab-button-font-size: $default-iconned-button-font-size;
$tabbar-tab-button-line-height: $default-iconned-button-line-height;
$tabbar-tab-button-margin-left: 0.02em;
$tabbar-tab-button-margin-top: 0.028em;
$tabbar-tab-button-color: $default-iconned-button-color;

$default-margin-for-fieldsets: 2em;
$default-border-color-for-fieldsets: $default-border-color;

$default-absolute-top-margin: 20px;

$default-opacity-on-floating-foreground-element: 0.95;
$default-background-color-on-floating-foreground-element: white;

$default-box-shadow-color: $aluminum;

$list-item-selected-color: $white-97;
$list-item-pressed-color: $white-97;
$list-disclosure-size: 10px;

$default-background-color-on-separated-sections-panel: $white-94;