.user-account-info-panel {
    margin: 0 auto;
    .x-button {
        margin: 0.3em 0.15em;
        &:first-child {
            margin-left: 0.3em;
        }
        &:last-child {
            margin-right: 0.3em;
        }
    }
}