@import 'compass';
@import '_variables';
@import '_mixins';

.x-panel.x-select-overlay {
    
    padding: 0px;
    background-color: #fff;

    > .x-panel-inner {
        
        overflow: hidden;
    }

    .x-list {
        
        background: transparent !important;
    }

    @include mini-box-shadow;
}

/*Checkbox*/
@mixin checkmark($color: $default-theme-color) {
    
    @extend .x-checkmark-base;
    color: $color;
}

.x-checkmark-base {
    
    content: '\f170';
    font-family: $default-icon-font-family;
}

.x-field-checkbox .x-field-mask,
.x-field-radio .x-field-mask {
    
    &::after {
        
        @include checkmark(#ccc);
    }
}

.x-input-checkbox:checked + .x-field-mask::after {
    
    content: '\f16f';
    color: $default-theme-color;
}

.x-item-disabled {
    
    .x-input-checkbox:checked + .x-field-mask::after {
        
        color: lighten($default-theme-color, $default-color-variance);
    }
}
