@import 'compass';
@import '_variables';
@import '_mixins';

/*.x-sheet {
    .x-toolbar.x-docked-top {
        @include border-radius(0px);
    }
    .x-field-input {
        @include border-radius(0px);
    }
}*/