@import 'compass';
@import '_variables';
@import '_mixins';

.x-button {
    @include no-margin;
    margin-top: $default-margin-for-fieldsets !important;
    margin-bottom: $default-margin-for-fieldsets !important;
    
    background-color: $default-button-background-color;
    
    @include no-border;
    border-top-width: $default-button-border-width !important;
    border-top-color: $default-button-border-color !important;
    border-bottom-width: $default-button-border-width !important;
    border-bottom-color: $default-button-border-color !important;
    @include no-border-radius;
    
    height: $default-button-height;
}