@import 'compass';
@import '_variables';
@import '_mixins';

.x-panel.x-select-overlay {
    
    padding: 0px;
    background-color: #fff;

    > .x-panel-inner {
        
        overflow: hidden;
    }

    .x-list {
        
        background: transparent !important;
    }

    @include mini-box-shadow;
}