@import 'compass';
@import '_variables';
@import '_mixins';

.x-form-fieldset {
    @include no-margin;
    @include no-padding;
    @include no-border;
    @include no-background;

    .x-form-fieldset-inner {
        @include no-margin;
        @include no-padding;
        @include no-border;
        @include no-background;
    }

    .x-field {
        @include no-margin;
        @include no-padding;
        @include no-border;
        @include no-background;

        &:before {
            @include no-margin;
            @include no-padding;
            @include no-background;
            
            border-bottom: solid 1px $default-border-color-for-fields;
        }
    }

    .x-field-input {
        @include no-border;
    }
}

.x-form-fieldset-title {
    // My addition
    // margin: 2em .5em .5em 1em;
    border-bottom: solid 1px #dbdbe0;
    margin: 0em !important;
    padding: 1em;
    padding-left: 1.3em;
    background: $white-98;
    color: $ios7-blue;
    font-weight: 400;
    font-size: .9em;
}

.x-form-fieldset-instructions {
    color: #555555;
    margin: 1em;
    font-size: .8em;
}