@import 'compass';
@import '_variables';
@import '_mixins';

$messagebox-border-width: 0;
$messagebox-border-style: solid;
$messagebox-border-color: transparent;
$messagebox-border-visible-edge-width: $default-border-width;
$messagebox-border-visible-edge-style: $default-border-style;
$messagebox-border-visible-edge-color: $default-border-color;
$messagebox-background-color: white;
$messagebox-button-background-color: $default-darker-background-color; 
$messagebox-button-pressing-background-color: lighten($messagebox-button-background-color, $default-color-variance);
$messagebox-height-percent: 70%;
$messagebox-width-percent: 100%;

.x-msgbox {
    
    width: $messagebox-width-percent !important;
    min-width: $messagebox-width-percent !important;
    height: $messagebox-height-percent !important;
    min-height: $messagebox-height-percent !important;
    
    @include no-background;
    background: $messagebox-background-color !important;
    
    @include no-border;
    @include no-border-radius;
    border: $messagebox-border-visible-edge-width $messagebox-border-visible-edge-style $messagebox-border-visible-edge-color !important;
    
    @include mega-box-shadow-with-no-offset;
    
    .x-msgbox-title {
        
        @include no-margin;
        
        .x-title {
            font-size: 0.8em !important;
            text-transform: uppercase !important;
            color: $default-theme-color !important;
        }
    }
    
    .x-toolbar.x-msgbox-buttons {
        
        @include no-border;
        @include no-border-radius;

        @include no-background;
        
        .x-toolbar-inner {

            .x-button {
                
                @include full-height;
                
                @include no-border;
                @include no-border-radius;
                
                @include no-background;
                background-color: $messagebox-button-background-color !important;
                
                @include no-border;
                border-top: $messagebox-border-visible-edge-width $messagebox-border-visible-edge-style $messagebox-border-visible-edge-color !important;
                border-right: $messagebox-border-visible-edge-width $messagebox-border-visible-edge-style $messagebox-border-visible-edge-color !important;

                &:first-child {
                    border-left: $messagebox-border-width $messagebox-border-style $messagebox-border-color !important;
                }

                &:last-child {
                    border-right: $messagebox-border-width $messagebox-border-style $messagebox-border-color !important;
                }

                &.x-button-pressing {
                    background-color: $messagebox-button-pressing-background-color !important;
                }

                & .x-button-label {
                    color: $default-theme-color;
                }
            }
        }
    }
}