@import 'compass';
@import '_variables';
@import '_mixins';

/*
.x-tabbar {
    z-index: 2;
}

.x-tabbar-inner {
    @include filter(blur(10px));
    z-index: 1;
    opacity: .35;
}*/

.x-tabbar {
    @include no-border;
    @include no-margin;
    @include no-padding;
    
    background-color: rgba(255, 255, 255, $default-theme-transparency-opacity) !important;
    
    height: $tabbar-tab-height !important;
    min-height: $tabbar-tab-height !important;
    
    &.x-full-width {
        @include full-width;
    }
    
    &.x-docked-bottom {
        @include no-border;
        border-top-width: $tabbar-border-visible-edge-width !important;
        border-top-color: $tabbar-border-visible-edge-color !important;
        
        @include no-margin;
        @include no-padding;
    
        background-color: rgba(255, 255, 255, $default-theme-transparency-opacity) !important;
        
        height: $tabbar-tab-height !important;
        min-height: $tabbar-tab-height !important;
        
        margin-bottom: $tabbar-margin-from-edge !important;
        
        &.x-docked-bottom-that-is-top {
            @include no-border;
            border-bottom-width: $tabbar-border-visible-edge-width !important;
            border-bottom-color: $tabbar-border-visible-edge-color !important;
            
            height: $tabbar-tab-height !important;
            min-height: $tabbar-tab-height !important;
        
            margin-top: $tabbar-margin-from-edge !important;
        }
    }
    
    .x-tab {
        @include no-background;
        @include no-border;
        @include no-margin;
        @include no-padding;
        
        min-height: $tabbar-tab-min-height !important;
        height: $tabbar-tab-height !important;
        min-width: $tabbar-tab-min-width !important;
        width: $tabbar-tab-width !important;
        
        .x-button-icon {
            @include full-height;
            @include full-width;
            
            @include no-text-shadow;
            @include no-text-stroke;
                
            &:before {
                font-size: $tabbar-tab-button-font-size !important;
                line-height: $tabbar-tab-button-line-height !important;
                color: $tabbar-tab-button-color;
            }
        }
        
        &.x-tab-pressed {
            @include no-background;
            @include no-border;
            @include no-margin;
            @include no-padding;
            
            .x-button-icon {
                &:before {
                    color: $tabbar-tab-button-pressed-color;
                }
            }
        }

        &.x-tab-active {
            @include no-background;
            @include no-border;
            @include no-margin;
            @include no-padding;
            
            .x-button-icon {
                &:before {
                    color: $tabbar-tab-button-active-color;
                }
            }
        }
    }
}