@import 'compass';
@import '_variables';
@import '_mixins';

/*
.x-tabbar {
    z-index: 2;
}

.x-tabbar-inner {
    @include filter(blur(10px));
    z-index: 1;
    opacity: .35;
}*/

.x-tabbar {
    @include no-border;
    @include no-background;
    
    &.x-docked-bottom {
        @include no-padding;
        
        @include no-border;
        @include no-background;
        
        margin-bottom: $tabbar-margin-from-edge;
    
        &.x-docked-bottom-that-is-top {
            margin-top: $tabbar-margin-from-edge;
        }
    }
    
    &.x-full-width {
        @include full-width;
        @include no-background;
    }
    
    .x-tab {
        height: $tabbar-tab-height !important;
        min-width: $tabbar-tab-min-width !important;
        width: $tabbar-tab-width !important;

        @include border-radius($tabbar-tab-border-radius);
        border-width: $tabbar-tab-border-width;
        border-style: $tabbar-tab-border-style;
        border-color: $tabbar-tab-border-color;
        background-color: $tabbar-tab-background-color;
        
        opacity: $tabbar-tab-opacity;
        
        margin: $tabbar-tab-margin;
        
        .x-button-icon {
            @include full-width;
            @include full-height;
            
            @include no-text-shadow;
            @include no-text-stroke;
            
            &:before {
                margin-left: $tabbar-tab-button-margin-left;
                margin-top: $tabbar-tab-button-margin-top;
                
                font-size: $tabbar-tab-button-font-size;
                line-height: $tabbar-tab-button-line-height;
                color: $tabbar-tab-button-color;
            }
        }
        
        &.x-tab-pressed {
            background-color: $tabbar-tab-pressed-background-color;
            border-color: $tabbar-tab-pressed-border-color;
        }

        &.x-tab-active {
            border-color: $tabbar-tab-active-border-color;
            background-color: $tabbar-tab-active-background-color;
        }
    }
}