@import 'compass';
@import '_variables';
@import '_mixins';

.x-toolbar {
    @include no-padding;
    
    @include no-border;
    border-width: $toolbar-border-width !important;
    border-color: $toolbar-border-color !important;
    
    @include no-margin;
    margin: $toolbar-margin !important;
    
    @include no-background;
    background-color: $toolbar-background-color !important;
    
    height: $toolbar-height !important;
    min-height: $toolbar-min-height !important;

    &.x-docked-bottom {
        @include no-border;
        border-width: $toolbar-border-width !important;
        border-color: $toolbar-border-color !important;
        border-top-width: $tabbar-border-visible-edge-width !important;
        border-top-color: $tabbar-border-visible-edge-color !important;

        @include no-background;
        background-color: $toolbar-background-color !important;
    }

    &.x-docked-top {
        @include no-border;
        border-width: $toolbar-border-width !important;
        border-color: $toolbar-border-color !important;
        border-bottom-width: $tabbar-border-visible-edge-width !important;
        border-bottom-color: $tabbar-border-visible-edge-color !important;

        @include no-background;
        background-color: $toolbar-background-color !important;
    }

    &.x-docked-left {
        @include no-border;
        border-width: $toolbar-border-width !important;
        border-color: $toolbar-border-color !important;
        border-right-width: $tabbar-border-visible-edge-width !important;
        border-right-color: $tabbar-border-visible-edge-color !important;

        @include no-background;
        background-color: $toolbar-background-color !important;
    }

    &.x-docked-right {
        @include no-border;
        border-width: $toolbar-border-width !important;
        border-color: $toolbar-border-color !important;
        border-left-width: $tabbar-border-visible-edge-width !important;
        border-left-color: $tabbar-border-visible-edge-color !important;

        @include no-background;
        background-color: $toolbar-background-color !important;
    }
    
    &.x-full-width {
        @include full-width;
    }

    .x-title {
        @include no-padding;
        @include no-margin;
        
        @include no-border;
        border: $toolbar-title-border-width $toolbar-title-border-style $toolbar-title-border-color !important;
        
        @include auto-height;
        
        font-weight: $toolbar-title-font-weight;
        font-size: $toolbar-title-font-size;
        color: $toolbar-title-color;
    }
    
    .x-toolbar-inner > .x-container {
        @include no-border;
        @include no-background;
    }

    .x-button {
        @include no-margin;
        @include no-padding;
        
        @include full-height;
        min-height: $toolbar-button-min-height !important;
        height: $toolbar-button-height !important;
        min-width: $toolbar-button-min-width !important;
        width: $toolbar-button-width !important;
        
        @include no-border;
        border: $toolbar-button-border-width $toolbar-button-border-style $toolbar-button-border-color !important;
        
        .x-button-icon {
            &:before {
                font-size: $toolbar-button-font-size !important;
                line-height: $toolbar-button-line-height !important;
                color: $tabbar-tab-button-active-color;
                @include single-text-shadow;
            }
        }
    }
}