@import 'compass';
@import '_variables';
@import '_mixins';

$toolbar-background-color: rgba(255, 255, 255, $default-theme-transparency-opacity);
$toolbar-border-width: 0;
$toolbar-border-style: solid;
$toolbar-border-color: transparent;
$toolbar-border-visible-edge-width: $default-border-width;
$toolbar-border-visible-edge-style: $default-border-style;
$toolbar-border-visible-edge-color: $default-border-color;
$toolbar-title-color: $default-color-active;
$toolbar-button-color: $default-color-active;
$toolbar-button-pressing-color: lighten($toolbar-button-color, $default-color-variance);

.x-toolbar {
    
    @include no-background;
    background-color: $toolbar-background-color !important;
    
    height: $default-toolbar-height !important;
    min-height: $default-toolbar-height !important;
    
    .x-container {
        
        @include no-background;
    }

    &.x-docked-bottom {
        
        @include no-background;
        background-color: $toolbar-background-color !important;
        
        @include no-border;
        border: $toolbar-border-width $toolbar-border-style $toolbar-border-color !important;
        border-top: $toolbar-border-visible-edge-width $toolbar-border-visible-edge-style $toolbar-border-visible-edge-color !important;
        
        /*Give padding to the scroll view of the next element so it can scroll underneath the tab bar*/
        & + div {
            
            .x-scroll-view {
                
                padding-bottom: $default-toolbar-height !important;
            }
        }
    }

    &.x-docked-top {
        
        @include no-background;
        background-color: $toolbar-background-color !important;
        
        @include no-border;
        border: $toolbar-border-width $toolbar-border-style $toolbar-border-color !important;
        border-bottom: $toolbar-border-visible-edge-width $toolbar-border-visible-edge-style $toolbar-border-visible-edge-color !important;
        
        /*Give padding to the scroll view of the next element so it can scroll underneath the tab bar*/
        & + div {
            
            .x-scroll-view {
                
                padding-top: $default-toolbar-height !important;
            }
        }
    }
    
    &.x-full-width {
        
        @include full-width;
    }

    .x-title {
        
        color: $toolbar-title-color !important;
    }
    
    .x-toolbar-inner > .x-container {
        
    }

    .x-button {
        
        @include no-background;
        
        @include no-border;
        
        .x-button-icon {
            
            &:before {
                
                color: $toolbar-button-color !important;
            }
        }
        
        &.x-button-pressing {
            
            .x-button-icon {

                &:before {

                    color: $toolbar-button-pressing-color !important;
                }
            }
        }
    }
}