.x-form-fieldset {
    margin: 0px;

    border: solid 1px #dbdbe0;
    border-left: 0px;
    border-right: 0px;

    .x-form-fieldset-inner {
        background: #fff;
        padding: 0;
        border-color: #dbdbe0;
        @include border-radius(0);
    }

    .x-field {
        background: transparent;
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0px;
            left: 1em;
            right: 0px;
            // My addition
            border-bottom: solid 1px #dbdbe0;
        }

        &:last-child {
            &:before {
                border-bottom: solid 1px transparent;
            }
        }

        // My addition
        border-bottom: solid 1px transparent;
    }

    .x-field-input {
        border: 0px solid transparent;
    }
}

.x-form-fieldset-title {
    // My addition
    // margin: 2em .5em .5em 1em;
    margin: 0em !important;
    padding: 1em;
    padding-left: 1.3em;
    // background-color: $mercury;
    color: #555555;
    font-weight: 400;
    font-size: .9em;
}

.x-form-fieldset-instructions {
    color: #555555;
    margin: 1em;
    font-size: .8em;
}