.user-signup-form-panel, .user-login-form-panel {
    .submit-button {
        margin-left: 0.5em !important;
        margin-right: 0.5em !important;
        margin-top: 0.5em !important;
    }
}
.user-account-form-panel {
    .x-form-fieldset .x-form-fieldset-inner {
        border: 0px solid transparent;
    }
}
.user-group-add-form-panel, .user-group-edit-form-panel {
    .x-form-fieldset:first-child {
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;
    }
    .submit-button, .delete-button {
        margin: 0.5em;
    }
}