.user-signup-form-panel, .user-login-form-panel {
    .submit-button {
        margin-left: $default-button-margin;
        margin-right: $default-button-margin;
        margin-top: $default-button-margin;
    }
}
.user-account-form-panel {
    background-color: $white-96;
    .x-form-fieldset {
        background-color: white;
        margin-top: $default-margin-for-fieldsets;
        margin-bottom: 0px;
    }
    .x-form-fieldset:last-child {
        margin-bottom: 1em;
    }
}
.user-group-add-form-panel, .user-group-edit-form-panel {
    background-color: $white-96;
    .x-form-fieldset {
        background-color: white;
        margin-top: $default-margin-for-fieldsets;
        margin-bottom: 0px;
    }
    .x-form-fieldset:last-child {
        margin-bottom: 1em;
    }
    .submit-button, .delete-button {
        margin: $default-button-margin;
    }
}