.user-login-form-panel, .user-signup-form-panel {
    .submit-button {
        margin: 1em;
    }
}
.user-account-form-panel {
    .x-form-fieldset .x-form-fieldset-inner {
        border: 0px solid transparent;
    }
}
.user-group-add-form-panel {
    .x-form-fieldset:first-child {
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;
    }
}